body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.body {
    flex: 1;
    align-self: center;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
    margin-left: 10px;
}

a {
    text-decoration: none;
}

.hero {
    display: flex;
}

.content {
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
}

.illustrations {
    display: flex;
    justify-content: space-between;
    flex-grow: 0;
}

.image {
    font-size: small;
    display: flex;
    flex-direction: column;
    inline-size: 150px;
    text-align: center;
}

