body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.body {
    flex: 1;
    margin-left: 100px;
    margin-right: 100px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
    margin-left: 10px;
}

a {
    text-decoration: none;
}